src/main/mule/soap_project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ff60be78-f57e-4534-8799-79ab4da0f1e8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="58c33008-961f-46a0-8702-4fd9904ac947" >
		<wsc:connection wsdlLocation="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso?WSDL" service="CountryInfoService" port="CountryInfoServiceSoap12" address="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="93873b06-5444-4e30-88f7-88fe4244be2d" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="ListOfCountryNamesGroupedByContinent" doc:id="07aced79-9d83-46e6-a3da-b2d8a171ce1f" >
		<http:listener doc:name="Listener" doc:id="987e4b72-95f2-4eb1-ad29-f63ac684023b" path="/demo" config-ref="HTTP_Listener_config"/>
		<wsc:consume doc:name="Consume" doc:id="776dcc7c-2beb-4db8-beaf-2fc6032660a0" config-ref="Web_Service_Consumer_Config" operation="ListOfCountryNamesGroupedByContinent"/>
		<ee:transform doc:name="Transform Message" doc:id="4f1630fa-35c0-4080-9e2d-f2141a42a6a7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="cdddcd03-c2b3-4df9-8418-9d72bff48f87" message="#[payload]"/>
	</flow>
	<flow name="Display_information_of_all_Countries_whose_currency_is_USD_Continent_wise" doc:id="d8bab1b6-b9bd-400b-8a7f-b9cae1b23b45" >
		<http:listener doc:name="Listener" doc:id="ca02c602-bd8e-4289-9621-c590e88622da" config-ref="HTTP_Listener_config1" path="/currency"/>
		<wsc:consume doc:name="Consume" doc:id="3fcb4cfb-b62c-4740-8bf9-efef02d3d5bc" config-ref="Web_Service_Consumer_Config" operation="FullCountryInfoAllCountries"/>
		<ee:transform doc:name="Transform Message" doc:id="b88c5988-9e4a-4dca-8af5-0419a700ca19" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.body.FullCountryInfoAllCountriesResponse.FullCountryInfoAllCountriesResult.*tCountryInfo filter($.sCurrencyISOCode == "USD") map((items,index) -> {
	  "sName":items.sName,
	  "sContinentCode":items.sContinentCode
	   })
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b208aa89-15f3-42ea-a987-9e7ebf4314b9" message="#[payload]"/>
	</flow>
</mule>
